{% extends 'main/pattern.html' %}
{% load static %}
{% block content %}
<!-- СЛОГАН -->
<section>
    <div class="container-fluid otst2 p-0" id="home">
        <div class="row">
            <div class="col d-flex justify-content-center align-items-center flex-column text-center">
                <h1 class="text-center">ТАЙМБУК</h1>
                <p class="text-center">Храните ваши мысли, отслеживайте цели и сохраняйте <br> важные моменты жизни в одном месте</p>
                <button class="btn btn-custom"><a href="{% url 'reg_home' %}" class="text-decoration-none"><h5>Присоединиться</h5></a></button>                
            </div>
            <div class="col p-0">
                <img src="{% static 'main/img/главное-фото.webp' %}" class="img-fluid crug-img-left object-fit: cover; h-100 w-100" alt="Основное изображение сайта, девушка с телефоном">
            </div>
        </div>
    </div>
</section>
<!-- ЗАПИСЫВАЙ МЫСЛИ ГДЕ УГОДНО -->
<section>
    <div class="container-fluid otst d-flex" style="height: 85vh;">
        <div class="col-5 h-100 d-flex flex-column justify-content-center align-items-evenly">
            <div class="row-fluid h-50 w-100 d-flex flex-column justify-content-center align-items-center fon3 text-center zap">
                <div class="d-flex justify-content-between align-items-end">
                    <div><h2>записывай мысли</h2><h2>где бы ты ни был</h2></div>
                    <img class="img-fluid tilted-img" style="width: 50px; height: 50px; transform: rotate(-15deg);" src="{% static 'main/img/icon/облако.png' %}" alt="Иконка щита">
                </div>
                <p>доступ к вашему дневнику возможен с <br> любого устройства</p>
            </div>
            <div class="row h-50 d-flex align-items-end">
                <div class="col"><img src="{% static 'main/img/девушка в кафе.jpg' %}" alt="Девушка в кафе, пишет в ноутбуку" class="img-fluid zap"></div>
                <div class="col"><img src="{% static 'main/img/девушка на остановке.jpg' %}" alt="Девушка на остановке, использует смартфон" class="img-fluid zap"></div>
            </div>
        </div>
        <div class="col-2 h-100 d-flex flex-column align-items-center justify-content-between">
            <img src="{% static 'main/img/парень на диване.jpg' %}" alt="Парень на диване с телефоном" class="img-fluid zap" style="height: 30%;">
            <img src="{% static 'main/img/девушка сидит в комнате.jpg' %}" alt="Девушка сидит в комнате, с телефоном в руках" class="img-fluid zap" style="height: 30%;">
            <img src="{% static 'main/img/парень в машине.jpg' %}" alt="Парень в машине, записывает на смартфоне" class="img-fluid zap" style="height: 30%;">
        </div>
        <div class="col h-100 d-flex">
            <img src="{% static 'main/img/парень в кафе.jpg' %}" alt="Парень в кафе, использует ноутбук" class="img-fluid zap" style="height: 100%; width: 100%;">
        </div>
    </div>
</section>
<!-- ФУНКЦИИ -->
<section>
    <div class="container otst" style="height: 130vh; display: flex; flex-direction: column; gap: 50px;">
        <div class="row h-75">
            <div class="col h-100 misl d-flex justify-content-center align-items-center">
                <p class="text-center" style="font-weight: bold; font-size: 2em; font-family: zag;">записывай мысли и эмоции</p>
            </div>
            <div class="col"></div>
            <div class="col h-100 zadac d-flex justify-content-center align-items-center">
                <p class="text-center" style="font-weight: bold; font-size: 2em; font-family: zag;">организовывай задачи</p>
            </div>
        </div>
        <div class="row h-75">
            <div class="col h-100 ustr d-flex justify-content-center align-items-center">
                <p class="text-center" style="font-weight: bold; font-size: 2em; font-family: zag;">используй на любом устройстве</p>
            </div>
            <div class="col"></div>
            <div class="col h-100 photo d-flex justify-content-center align-items-center">
                <p class="text-center" style="font-weight: bold; font-size: 2em; font-family: zag;">добавляй фото, видео, файлы</p>
            </div>
        </div>
    </div>
</section>
<!-- ЗАЩИТА -->
<section>
    <div class="container otst">
        <div class="row text-center">
            <div class="col-12">
                <div class="d-flex align-items-center justify-content-center">
                    <h2 class="text-center">ваши данные под надежной защитой</h2>
                    <img class="img-fluid tilted-img" style="width: 50px; height: 50px; transform: rotate(-15deg);" src="{% static 'main/img/icon/щит.png' %}" alt="Иконка щита">
                </div>
                <p class="mt-3">Мы обеспечиваем высокий уровень безопасности, шифруя все данные и защищая вашу информацию от посторонних</p>
            </div>
        </div>
    </div>
</section>
<!-- ПРИСОЕДИНЯЙСЯ -->
<section>
    <div class="tip d-flex justify-content-center align-items-center otst">
        <div class="container">
            <div class="row">
                <div class="col d-flex align-items-center flex-column">
                    <div class="row"><h2 class="text-center" style="color: white;">присоединяйся к таймбук и начни вести свой дневник</h2></div>
                    <div class="row col-3"><button class="btn btn-custom-white"><a href="{% url 'reg_home' %}" class="text-decoration-none"><h5 style="color: white;">Присоединиться</h5></a></button></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ПОДВАЛ -->
<section>
    <footer>
        <div class="container-full otst">
            <div class="row bok-otst">
                <div class="col d-flex justify-content-between align-items-center">
                    <a href="#home" class="text-decoration-none" style="font-size: 1.5em; font-family: zag;">ТАЙМБУК</a>
                    <div class="d-flex justify-content-between col-6">
                        <a href="#func" class="text-decoration-none">Функции</a>
                        <a href="{% url 'reg_home' %}" class="text-decoration-none">Войти/Присоединиться</a>
                        <a href="#" class="text-decoration-none">Обратная связь</a>
                        <a href="#" class="text-decoration-none">Поддержать проект</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="line"></div>
        <div class="row-fluid d-flex justify-content-between bok-otst" style="margin-bottom: 100px;">
            <p style="font-size: 1em;">© 2020 — 2024 ТАЙМБУК</p>
            <div class="d-flex col-3 justify-content-between">
                <a href="{% url 'polit' %}" class="text-decoration-none">Политика конфиденциальности</a>
                <a href="{% url 'sogl' %}" class="text-decoration-none">Пользовательское соглашение</a>
            </div>
        </div>
    </footer>
</section>
{% endblock %}
