{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'main/img/icon/блокнот — копия.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <title>ТАЙМБУК</title>
</head>
<body>
    <!--НАВБАР-->
    <div id="navbar">
        <div class="container-fluid">
            <div class="row">
                <div class="col col top-link d-flex align-items-center">
                    <a href="{% url 'home_page' %}" class="text-center text-decoration-none" style="font-family: zag; font-size: 1.5em;">таймбук</a>
                    <a href="#func" class="text-center text-decoration-none">Обратная связь</a>
                </div>
                <div class="col d-flex justify-content-end"><img src="{% static 'main/img/icon/СменаТемы.png' %}" alt="смена темы"></div>
            </div>
        </div>
    </div>
    <!--ПОЛЬЗОВАТЕЛЬСКОЕ СОГЛАШЕНИЕ-->
    <div class="container">
        <h1 class="text-center">Пользовательское соглашение</h1><br>
        <main>
            <section>
                <h2>Общие положения</h2>
                <p>Настоящее соглашение (далее – "Соглашение") регулирует отношения между ТАЙМБУК (далее – "Компания") и вами, пользователем веб-сайта и/или других сервисов компании (далее – "Пользователь"). Использование наших сервисов означает полное согласие с условиями данного соглашения.</p>
                <p>Настоящее соглашение распространяется на все приложения, платформы, API, а также на любые связанные с ними услуги.</p>
            </section>
            <section>
                <h2>Регистрация и учетная запись</h2>
                <ul>
                    <li><p style="font-size: 1.5em;">пользователь обязан предоставить достоверную информацию при создании учетной записи</p></li>
                    <li><p style="font-size: 1.5em;">вы несете ответственность за сохранение конфиденциальности ваших учетных данных и за все действия, совершенные под вашим аккаунтом</p></li>
                    <li><p style="font-size: 1.5em;">компания имеет право приостановить или удалить учетную запись Пользователя в случае нарушения условий соглашения</p></li>
                </ul>
            </section>
            <section>
                <h2>Использование сервисов</h2>
                <p>Пользователю запрещается:</p>
                <ul>
                    <li><p style="font-size: 1.5em;">использовать сервисы для противоправной деятельности, в том числе размещать материалы, нарушающие авторские права, законы о конфиденциальности или законы об охране труда и морали</p></li>
                    <li><p style="font-size: 1.5em;">предпринимать попытки несанкционированного доступа к системам или данным, связанным с сервисами</p></li>
                    <li><p style="font-size: 1.5em;">размещать вредоносное ПО, вирусы или другие опасные материалы</p></li>
                </ul>
                <p>Компания оставляет за собой право удалить любые материалы или заблокировать доступ Пользователя при нарушении данных правил.</p>
            </section>
            <section>
                <h2>Права и обязанности компании</h2>
                <p>Компания обязуется обеспечивать доступность сервисов в максимально возможной степени, за исключением случаев проведения технических работ или форс-мажорных обстоятельств.</p>
                <p>Компания оставляет за собой право:</p>
                <ul>
                    <li><p style="font-size: 1.5em;">изменять функциональность сервисов без предварительного уведомления</p></li>
                    <li><p style="font-size: 1.5em;">приостанавливать доступ к сервисам для отдельных пользователей при подозрении на нарушение настоящего соглашения</p></li>
                    <li><p style="font-size: 1.5em;">передавать агрегированные данные третьим лицам для улучшения качества сервисов</p></li>
                </ul>
            </section>
            <section>
                <h2>Интеллектуальная собственность</h2>
                <p>Все тексты, графические материалы, логотипы, программное обеспечение и другие элементы, размещенные на сайте и в приложениях компании, являются объектами интеллектуальной собственности компании или ее партнеров. Любое использование материалов без предварительного согласия запрещено.</p>
            </section>
            <section>
                <h2>Ограничение ответственности</h2>
                <p>Компания не несет ответственности за:</p>
                <ul>
                    <li><p style="font-size: 1.5em;">прямой, косвенный или случайный ущерб, возникший в результате использования сервисов</p></li>
                    <li><p style="font-size: 1.5em;">ошибки, сбои, временную недоступность сервисов, вызванные техническими неполадками или действиями третьих лиц</p></li>
                    <li><p style="font-size: 1.5em;">потерю данных или несанкционированный доступ к учетным записям Пользователя</p></li>
                </ul>
            </section>
            <section>
                <h2>Конфиденциальность данных</h2>
                <p>Сбор, обработка и использование персональных данных регулируются <a href="{% url 'polit' %}">Политикой конфиденциальности</a>. Пользователь обязуется внимательно ознакомиться с данным документом.</p>
            </section>
            <section>
                <h2>Внесение изменений</h2>
                <p>Компания оставляет за собой право изменять настоящее соглашение. Все изменения публикуются на сайте. Продолжение использования сервисов после внесения изменений означает согласие с новыми условиями.</p>
            </section>
            <section>
                <h2>Разрешение споров</h2>
                <p>Все споры и разногласия, возникающие в связи с настоящим соглашением, подлежат разрешению в соответствии с законодательством [Вашей страны].</p>
            </section>
            <section>
                <h2>Контактные данные</h2>
                <p>Если у вас есть вопросы по поводу настоящего соглашения, вы можете связаться с нами:</p>
                <address>
                    Электронная почта: <a href="mailto:support@company.com">support@company.com</a><br>
                    Телефон: (123) 456-7890<br>
                    Адрес: [АДРЕС]
                </address>
            </section>
        </main>
    </div>
    <!--ПОДВАЛ-->
    <footer>
        <div class="container-full otst">
            <div class="row bok-otst">
                <div class="col d-flex justify-content-between align-items-center">
                    <a href="#home" class="text-decoration-none" style="font-size: 1.5em; font-family: zag;">ТАЙМБУК</a>
                    <div class="d-flex justify-content-between col-6">
                        <a href="{% url 'reg_home' %}" class="text-decoration-none">Войти/Присоединиться</a>
                        <a href="#" class="text-decoration-none">Обратная связь</a>
                        <a href="#" class="text-decoration-none">Поддержать проект</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="line"></div>
        <div class="row-fluid d-flex justify-content-between bok-otst" style="margin-bottom: 100px;">
            <p style="font-size: 1em;">© 2020 — 2024 ТАЙМБУК</p>
            <div class="d-flex col-3 justify-content-between">
                <a href="{% url 'polit' %}" class="text-decoration-none">Политика конфиденциальности</a>
                <a href="{% url 'sogl' %}" class="text-decoration-none">Пользовательское соглашение</a>
            </div>
        </div>
    </footer>
    <script src="{% static 'main/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'main/js/script.js' %}"></script>
</body>
</html>